# Node environment
NODE_ENV=development
PORT=3000

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=todos
DB_USER=postgres
DB_PASSWORD=postgres
# Better Auth secret any random string for JWT 
BETTER_AUTH_SECRET="P75ZLjuEh0uAMubz8o4M9KqK4LLL" 